<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="main.css">
        <title>
            Simple server
        </title>
    </head>
    <body>
        <p>
            This is home!
        </p>
        <a href="/students">Students List</a>
        <!-- <a href="teachers">Subjects</a> -->
    </body>
</html>

<!-- Exercise MVC #1:
1. Fallback route should be error page
2. "/" should be handled as index 
3. Create more custom routes, similar as /students
4. [Advanced]: Under /students create sub-routes.
 (hint:  url === "/students" will not be valid anymore, but will need to include a check is url contains students, and use another controller (call it StudentsController)  ) -->