<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Subjects
        </title>
    </head>
    <body>
        <p>Emils subjects</p>
        <ul>
            <li>Mathematic</li>
            <li>Chemistry</li>
            <li>Hystory</li>
            <li>Biology</li>
        </ul>>
        <a href="/">Students List</a> 
        <!-- /students/1 - will return the first student from hardcorded array of students- routing under sub-routing -->
        <a href="/">Home</a> 
    </body>
</html>